<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Search</title>

<script src="https://cdn.tailwindcss.com"></script>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

<style>
body { font-family: 'Poppins', sans-serif; }
</style>
</head>

<body class="h-screen flex">
    <!-- NAVBAR -->
<div class="absolute top-0 left-0 w-full flex justify-between items-center px-10 py-6 z-10">

    <h1 class="text-white text-xl font-semibold">
        Food Discovery
    </h1>

    <a href="/"
   class="text-black font-semibold text-lg tracking-wide">
    Home
</a>

</div>

<!-- LEFT IMAGE -->
<div class="w-1/2 relative">
  <img src="https://loremflickr.com/1000/1200/chef,food"
     class="w-full h-full object-cover">
    <div class="absolute inset-0 bg-black/40"></div>
</div>

<!-- RIGHT SEARCH -->
<div class="w-1/2 flex flex-col justify-center px-16 bg-white">

    <h2 class="text-4xl font-semibold mb-6">
        Find Your Restaurant
    </h2>

    <p class="text-gray-500 mb-10">
        Type a name and get similar restaurant recommendations instantly.
    </p>

    <form action="/result" method="POST" autocomplete="off" class="max-w-md">

        <div class="relative">
            <input type="text" name="output" id="output"
                placeholder="Search restaurant..."
                class="w-full p-4 border rounded-xl shadow-sm focus:ring-2 focus:ring-[#e11d48] outline-none">

            <div id="suggestions"
                class="absolute w-full bg-white shadow-lg mt-2 hidden max-h-60 overflow-y-auto rounded-lg"></div>
        </div>

        <button type="submit"
            class="mt-8 w-full bg-[#e11d48] text-white py-4 rounded-xl hover:scale-105 transition shadow">
            Show Results →
        </button>

    </form>

</div>

<script>
const inputField = document.getElementById('output');
const suggestionsBox = document.getElementById('suggestions');

inputField.addEventListener('input', async function () {
    const value = this.value;

    if (!value) {
        suggestionsBox.innerHTML = "";
        suggestionsBox.classList.add("hidden");
        return;
    }

    const res = await fetch(`/autocomplete?term=${value}`);
    const data = await res.json();

    suggestionsBox.innerHTML = "";

    if (data.length > 0) {
        suggestionsBox.classList.remove("hidden");

        data.forEach(item => {
            const div = document.createElement("div");
            div.className = "p-3 hover:bg-gray-100 cursor-pointer";
            div.innerText = item;

            div.onclick = () => {
                inputField.value = item;
                suggestionsBox.classList.add("hidden");
            };

            suggestionsBox.appendChild(div);
        });
    }
});
</script>

</body>
</html>